.btn {
    margin: 15px 0 10px 0;
    border: none;
    width: 13%;
    height: 2em;
    background-color: #EEEEEE;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
}
.btn:hover {
    background-color: #093aa3;
    color: #EEEEEE;
    box-shadow: 0 0 10px #EEEEEE;
}